.*
!.travis.yml

*~

build*
data/*
data-tools/*
data.tar.gz
CMakeCache.txt

CMakeFiles/
bin/
install/
lib/
share/

cmake/CMakeCache.txt
cmake/CMakeFiles/

*.png
*.pyc

*.txt
*.pdf
*.dat
*.ipynb_checkpoints
*.idea
include/healpix_base/alloc_utils.h
include/healpix_base/arr.h
include/healpix_base/datatypes.h
include/healpix_base/error_handling.h
include/healpix_base/geom_utils.h
include/healpix_base/healpix_base.h
include/healpix_base/healpix_tables.h
include/healpix_base/lsconstants.h
include/healpix_base/math_utils.h
include/healpix_base/pointing.h
include/healpix_base/rangeset.h
include/healpix_base/vec3.h
include/kiss/convert.h
include/kiss/io.h
include/kiss/logger.h
include/kiss/path.h
include/kiss/string.h
include/kiss/uuid.h
